.containerGeral{
    display: flex;
    align-items: center;
    justify-content: end;
    align-content: flex-end;
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}

.conteinarPerfil{
    height: 100%;
    width: 81.7%;
    /* background-color: blue; */
}

.texto{
    margin-top: 10%;
}

