<!-- criar a tela de perfil depois-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style/perfil.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <meta charset="utf-8"> 
    <title>Login</title>
</head>
<body>


    <div class="ate">
    <%- include('components/sidebar'); %>

       <div class="containerGeral">
           <div class="conteinarPerfil">

              <div class="texto">
                  <h1>
                    AAAAAAAAAAAAAAAAAAAAAAAA
                  </h1>
              </div> 

           </div>
       </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/perfil.js"></script>

</body>
</html>