<!-- criar a tela de perfil depois-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style/login.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <meta charset="utf-8"> 
    <title>Login</title>
</head>
<body>
    <div class="imagem">
        <img src="https://wallpaperaccess.com/full/656665.jpg" alt="fundo">
    </div>
    <div class="login">
        <img src="https://img.myloview.com.br/fotomurais/icone-de-computador-portatil-ou-notebook-estilo-de-neon-laranja-em-preto-bac-700-139495777.jpg" class="usuario" width="100" height="100" alt="">
        <h1>Login</h1>
        <form>
            <p>Usuário</p>
            <input id="usuario" type="text" name="usuario" placeholder="Insira seu nome">

            <p>Senha</p>
            <input id="senha" type="password" name="" placeholder="Insira sua senha">
            <input id="botaoSalvar" type="submit" name="botao" value="Login">
            <a href="#"> Esqueceu sua senha? </a>
            <br>    
            <a href="#"> Ainda não possui uma conta ? </a>

        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/sobre.js"></script>

</body>
</html>