<!-- criar a tela de perfil depois-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style/vagasAplicadas.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <meta charset="utf-8"> 
    <title>Login</title>
</head>
<body>
   

    <div class="ate">
        <%- include('components/sidebar'); %>
    
           <div class="containerGeral">
               <div class="conteinarPerfil">
    
                  <div class="texto">
                    <div class="row">
                      <div class="card green">
                        <h2>Aplicadas</h2>
                        <p>Vagas aplicadas</p>
                        <img class="icon" src="assets/certoo.png" alt="certo" />
                      </div>
                 
                      <div class="card blue">
                        <h2>Aguardando</h2>
                        <p>Aguardando os recrutadores</p>
                        <img class="icon" src="assets/carregando.png" alt="aguardando" />
                      </div>
                 
                      <div class="card red">
                        <h2>Finalizadas</h2>
                        <p>Você foi rejeitado novamente</p>
                        <img class="icon" src="assets/fundoX.png" alt="finalizados" />
                      </div>
                    </div>
                  </body>
            
                </div>
            </div>
            
        </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/vagasAplicadas.js"></script>

</body>
</html>