<!-- criar a tela de perfil depois-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style/vagas.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <meta charset="utf-8"> 
    <title>Login</title>
</head>
<body>
    <body>
        <div class="ate">
            <%- include('components/sidebar'); %>
        
               <div class="containerGeral">
                   <div class="conteinarPerfil">
                      <div class="texto">
                          
                        <div class="form">
                            <form method="post" action="index.php"><br>
                              <h1>Vagas</h1><br>
                              <h2>Vagas sugeridas</h2><br>
                              <label>Nome:</label>
                              
                        </form>
                      </div> 
                   </div>
               </div>
            </div>

       

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/vagas.js"></script>

</body>
</html>